<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'tests_app/style.css' %}">
</head>

<body>
<div class="container">
    <div class="header">
        <ul id="header-menu">
            <li class="header-menu-point"><a href="{% url 'home' %}">Главная</a></li>
            <li class="header-menu-point"><a href="{% url 'status' %}">Статистика</a></li>
            {% if request.user.is_authenticated %}
            <li class="header-menu-point"><a href="{% url 'login_detail' user.id %}">{{ user.username }}</a></li>
            <li class="header-menu-point"><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
            <li class="header-menu-point"><a href="{% url 'register' %}">Регистрация</a></li>
            <li class="header-menu-point"><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>


    {% block content %} {% endblock %}
</div>
</body>

</html>