{% extends 'tests_app/base.html' %}

{% block content %}
<ul class="status_list">
    <form id="question-form" method="POST">{% csrf_token %}
    {% for question in test_questions %}
        {% if question.test_name.id == pk %}
            <li class="test">{{ question.question }}</li>
            {% for answer in answers %}
                {% if answer.test_name.id == question.id %}
                    <li class="test-answer">
                        <input type="radio" name="{{ question.id }}"
                               value="{{ answer.bonus }}|{{ question.test_name }}|{{ user.id }}">
                               {{ answer }}
                        </input>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </form>
    <button class="form-button" id="submit-button">Отправить</button>
</ul>

<script>
<!--document.body.style.background = '{{ user_points.color }}';-->

const form = document.getElementById('question-form');
const submitBtn = document.querySelector('.form-button');

submitButtonCheck = () => {
    const allInputs = form.querySelectorAll('input');
    const checked = allInputs;
    let checkedElementList = [];

    for(let i = 0; i < allInputs.length; i++) {
        if (allInputs[i].checked) {
            checkedElement = allInputs[i].dataset.price;
            checkedElementList.push(checkedElement);
        };
    form.submit('adasda');
    }
}

submitBtn.addEventListener('click', submitButtonCheck);
</script>
{% endblock %}